.div1 {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.div2 {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
}
.div3 {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
}
.div4 {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
}
.div5 {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
}
#div1 {
    display: flex;
    align-items: center;
    flex-direction: column;
}